body{
    font-family: 'STIX Two Text', serif;
    
}
header{
    background: rgb(243, 241, 241);
    padding: 20px 0;
    }
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    }
nav{
   position: absolute;
   top: 110px;
   right: 0px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav li a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color:blue;
    transition: 400ms;
    font-size: 35px;
}
.contato{
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1rem;
}
.produtos{ 
    width: 940px;
    margin:  0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px; 
    box-sizing: border-box;
    border: 2px solid #000;   
    border-radius: 12px;
}
.produtos li:hover {
    border-color: #000;
    background: #bbbb;
    font-size: 20px;
}
.produtos li:active{
    border-color: red;
}
.produtos li:hover h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-preco{

    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: rgb(243, 241, 241);
    padding: 40px 0;
}
.copy{
    font-size: 13px;
    font-weight: bolder;
}
@media screen and (max-width: 1024px){
    .caixa, .principal, .footer {
    width: auto;
    }    
    h1{
        text-align: center;
    }
    nav{
        position: static;
        text-align: center;
    }
    @media  screen and (max-width: 768px) {
    .produtos{
        width: 100%;
        text-align: center;
    }
    
    .produtos li{
        width: 90%;
        margin: auto;
        display: block;
        margin-bottom: 15px ;
    }
    }
    }